<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GJKJAPP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C9CFCD820005E9C00FB82CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C9CFCF020005E9C00FB82CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C9CFCFB20005E9C00FB82CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
