<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<integer>1</integer>
		<key>face_name</key>
		<string>[微笑]</string>
		<key>image</key>
		<string>emotion_weixiao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>2</integer>
		<key>face_name</key>
		<string>[撇嘴]</string>
		<key>image</key>
		<string>emotion_biezui</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>3</integer>
		<key>face_name</key>
		<string>[色]</string>
		<key>image</key>
		<string>emotion_se</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>4</integer>
		<key>face_name</key>
		<string>[发呆]</string>
		<key>image</key>
		<string>emotion_fadai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>5</integer>
		<key>face_name</key>
		<string>[得意]</string>
		<key>image</key>
		<string>emotion_deyi</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>6</integer>
		<key>face_name</key>
		<string>[流泪]</string>
		<key>image</key>
		<string>emotion_liulei</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>7</integer>
		<key>face_name</key>
		<string>[害羞]</string>
		<key>image</key>
		<string>emotion_haixiu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>8</integer>
		<key>face_name</key>
		<string>[闭嘴]</string>
		<key>image</key>
		<string>emotion_bizui</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>9</integer>
		<key>face_name</key>
		<string>[睡]</string>
		<key>image</key>
		<string>emotion_shui</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>10</integer>
		<key>face_name</key>
		<string>[大哭]</string>
		<key>image</key>
		<string>emotion_daku</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>11</integer>
		<key>face_name</key>
		<string>[尴尬]</string>
		<key>image</key>
		<string>emotion_ganga</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>12</integer>
		<key>face_name</key>
		<string>[发怒]</string>
		<key>image</key>
		<string>emotion_fanu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>13</integer>
		<key>face_name</key>
		<string>[调皮]</string>
		<key>image</key>
		<string>emotion_tiaopi</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>14</integer>
		<key>face_name</key>
		<string>[呲牙]</string>
		<key>image</key>
		<string>emotion_ciya</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>15</integer>
		<key>face_name</key>
		<string>[惊讶]</string>
		<key>image</key>
		<string>emotion_jingya</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>16</integer>
		<key>face_name</key>
		<string>[难过]</string>
		<key>image</key>
		<string>emotion_nanguo</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>17</integer>
		<key>face_name</key>
		<string>[酷]</string>
		<key>image</key>
		<string>emotion_ku</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>18</integer>
		<key>face_name</key>
		<string>[冷汗]</string>
		<key>image</key>
		<string>emotion_lenghan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>19</integer>
		<key>face_name</key>
		<string>[抓狂]</string>
		<key>image</key>
		<string>emotion_zhuakuang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>20</integer>
		<key>face_name</key>
		<string>[吐]</string>
		<key>image</key>
		<string>emotion_tu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>21</integer>
		<key>face_name</key>
		<string>[偷笑]</string>
		<key>image</key>
		<string>emotion_touxiao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>22</integer>
		<key>face_name</key>
		<string>[可爱]</string>
		<key>image</key>
		<string>emotion_keai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>23</integer>
		<key>face_name</key>
		<string>[白眼]</string>
		<key>image</key>
		<string>emotion_baiyan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>24</integer>
		<key>face_name</key>
		<string>[傲慢]</string>
		<key>image</key>
		<string>emotion_aoman</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>25</integer>
		<key>face_name</key>
		<string>[饥饿]</string>
		<key>image</key>
		<string>emotion_jie</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>26</integer>
		<key>face_name</key>
		<string>[困]</string>
		<key>image</key>
		<string>emotion_kun</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>27</integer>
		<key>face_name</key>
		<string>[惊恐]</string>
		<key>image</key>
		<string>emotion_jingkong</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>28</integer>
		<key>face_name</key>
		<string>[流汗]</string>
		<key>image</key>
		<string>emotion_liuhan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>29</integer>
		<key>face_name</key>
		<string>[憨笑]</string>
		<key>image</key>
		<string>emotion_hanxiao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>30</integer>
		<key>face_name</key>
		<string>[大兵]</string>
		<key>image</key>
		<string>emotion_dabing</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>31</integer>
		<key>face_name</key>
		<string>[奋斗]</string>
		<key>image</key>
		<string>emotion_fendou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>32</integer>
		<key>face_name</key>
		<string>[咒骂]</string>
		<key>image</key>
		<string>emotion_zouma</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>33</integer>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>image</key>
		<string>emotion_yiwen</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>34</integer>
		<key>face_name</key>
		<string>[嘘]</string>
		<key>image</key>
		<string>emotion_xu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>35</integer>
		<key>face_name</key>
		<string>[晕]</string>
		<key>image</key>
		<string>emotion_yun</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>36</integer>
		<key>face_name</key>
		<string>[折磨]</string>
		<key>image</key>
		<string>emotion_fakuang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>37</integer>
		<key>face_name</key>
		<string>[衰]</string>
		<key>image</key>
		<string>emotion_shuai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>38</integer>
		<key>face_name</key>
		<string>[骷髅]</string>
		<key>image</key>
		<string>emotion_kulou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>39</integer>
		<key>face_name</key>
		<string>[敲打]</string>
		<key>image</key>
		<string>emotion_qiaoda</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>40</integer>
		<key>face_name</key>
		<string>[再见]</string>
		<key>image</key>
		<string>emotion_zaijian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>41</integer>
		<key>face_name</key>
		<string>[擦汗]</string>
		<key>image</key>
		<string>emotion_cahan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>42</integer>
		<key>face_name</key>
		<string>[抠鼻]</string>
		<key>image</key>
		<string>emotion_koubi</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>43</integer>
		<key>face_name</key>
		<string>[鼓掌]</string>
		<key>image</key>
		<string>emotion_guzhang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>44</integer>
		<key>face_name</key>
		<string>[糗大了]</string>
		<key>image</key>
		<string>emotion_qiudale</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>45</integer>
		<key>face_name</key>
		<string>[坏笑]</string>
		<key>image</key>
		<string>emotion_huaixiao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>46</integer>
		<key>face_name</key>
		<string>[左哼哼]</string>
		<key>image</key>
		<string>emotion_zuohengheng</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>47</integer>
		<key>face_name</key>
		<string>[右哼哼]</string>
		<key>image</key>
		<string>emotion_youhengheng</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>48</integer>
		<key>face_name</key>
		<string>[哈欠]</string>
		<key>image</key>
		<string>emotion_haqian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>49</integer>
		<key>face_name</key>
		<string>[鄙视]</string>
		<key>image</key>
		<string>emotion_bishi</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>50</integer>
		<key>face_name</key>
		<string>[委屈]</string>
		<key>image</key>
		<string>emotion_weiqu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>51</integer>
		<key>face_name</key>
		<string>[快哭了]</string>
		<key>image</key>
		<string>emotion_kuaikule</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>52</integer>
		<key>face_name</key>
		<string>[阴险]</string>
		<key>image</key>
		<string>emotion_yingxian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>53</integer>
		<key>face_name</key>
		<string>[亲亲]</string>
		<key>image</key>
		<string>emotion_qinqin</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>54</integer>
		<key>face_name</key>
		<string>[吓]</string>
		<key>image</key>
		<string>emotion_xia</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>55</integer>
		<key>face_name</key>
		<string>[可怜]</string>
		<key>image</key>
		<string>emotion_kelian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>56</integer>
		<key>face_name</key>
		<string>[菜刀]</string>
		<key>image</key>
		<string>emotion_caidao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>57</integer>
		<key>face_name</key>
		<string>[西瓜]</string>
		<key>image</key>
		<string>emotion_xigua</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>58</integer>
		<key>face_name</key>
		<string>[啤酒]</string>
		<key>image</key>
		<string>emotion_pijiu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>59</integer>
		<key>face_name</key>
		<string>[篮球]</string>
		<key>image</key>
		<string>emotion_lanqiu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>60</integer>
		<key>face_name</key>
		<string>[乒乓]</string>
		<key>image</key>
		<string>emotion_pingpang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>61</integer>
		<key>face_name</key>
		<string>[咖啡]</string>
		<key>image</key>
		<string>emotion_kafei</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>62</integer>
		<key>face_name</key>
		<string>[饭]</string>
		<key>image</key>
		<string>emotion_fan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>63</integer>
		<key>face_name</key>
		<string>[猪头]</string>
		<key>image</key>
		<string>emotion_zhutou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>64</integer>
		<key>face_name</key>
		<string>[玫瑰]</string>
		<key>image</key>
		<string>emotion_meigui</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>65</integer>
		<key>face_name</key>
		<string>[凋谢]</string>
		<key>image</key>
		<string>emotion_diaoxie</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>66</integer>
		<key>face_name</key>
		<string>[示爱]</string>
		<key>image</key>
		<string>emotion_shiai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>67</integer>
		<key>face_name</key>
		<string>[爱心]</string>
		<key>image</key>
		<string>emotion_aixin</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>68</integer>
		<key>face_name</key>
		<string>[心碎]</string>
		<key>image</key>
		<string>emotion_xinsui</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>69</integer>
		<key>face_name</key>
		<string>[蛋糕]</string>
		<key>image</key>
		<string>emotion_dangao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>70</integer>
		<key>face_name</key>
		<string>[闪电]</string>
		<key>image</key>
		<string>emotion_shandian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>71</integer>
		<key>face_name</key>
		<string>[炸弹]</string>
		<key>image</key>
		<string>emotion_zhadan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>72</integer>
		<key>face_name</key>
		<string>[刀]</string>
		<key>image</key>
		<string>emotion_dao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>73</integer>
		<key>face_name</key>
		<string>[足球]</string>
		<key>image</key>
		<string>emotion_zhuqiu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>74</integer>
		<key>face_name</key>
		<string>[瓢虫]</string>
		<key>image</key>
		<string>emotion_pachong</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>75</integer>
		<key>face_name</key>
		<string>[便便]</string>
		<key>image</key>
		<string>emotion_bianbian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>76</integer>
		<key>face_name</key>
		<string>[月亮]</string>
		<key>image</key>
		<string>emotion_yueliang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>77</integer>
		<key>face_name</key>
		<string>[太阳]</string>
		<key>image</key>
		<string>emotion_taiyang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>78</integer>
		<key>face_name</key>
		<string>[礼物]</string>
		<key>image</key>
		<string>emotion_liwu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>79</integer>
		<key>face_name</key>
		<string>[拥抱]</string>
		<key>image</key>
		<string>emotion_baobao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>80</integer>
		<key>face_name</key>
		<string>[强]</string>
		<key>image</key>
		<string>emotion_qiang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>81</integer>
		<key>face_name</key>
		<string>[弱]</string>
		<key>image</key>
		<string>emotion_ruo</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>82</integer>
		<key>face_name</key>
		<string>[握手]</string>
		<key>image</key>
		<string>emotion_woshou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>83</integer>
		<key>face_name</key>
		<string>[胜利]</string>
		<key>image</key>
		<string>emotion_shengli</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>84</integer>
		<key>face_name</key>
		<string>[抱拳]</string>
		<key>image</key>
		<string>emotion_baoquan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>85</integer>
		<key>face_name</key>
		<string>[勾引]</string>
		<key>image</key>
		<string>emotion_gouying</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>86</integer>
		<key>face_name</key>
		<string>[拳头]</string>
		<key>image</key>
		<string>emotion_quantou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>87</integer>
		<key>face_name</key>
		<string>[差劲]</string>
		<key>image</key>
		<string>emotion_chajing</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>88</integer>
		<key>face_name</key>
		<string>[爱你]</string>
		<key>image</key>
		<string>emotion_aini</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>89</integer>
		<key>face_name</key>
		<string>[NO]</string>
		<key>image</key>
		<string>emotion_no</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>90</integer>
		<key>face_name</key>
		<string>[OK]</string>
		<key>image</key>
		<string>emotion_ok</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>91</integer>
		<key>face_name</key>
		<string>[爱情]</string>
		<key>image</key>
		<string>emotion_aiqing</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>92</integer>
		<key>face_name</key>
		<string>[飞吻]</string>
		<key>image</key>
		<string>emotion_feiwen</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>93</integer>
		<key>face_name</key>
		<string>[跳跳]</string>
		<key>image</key>
		<string>emotion_tiaotiao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>94</integer>
		<key>face_name</key>
		<string>[发抖]</string>
		<key>image</key>
		<string>emotion_fadou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>95</integer>
		<key>face_name</key>
		<string>[怄火]</string>
		<key>image</key>
		<string>emotion_ouhuo</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>96</integer>
		<key>face_name</key>
		<string>[转圈]</string>
		<key>image</key>
		<string>emotion_zhuanquan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>97</integer>
		<key>face_name</key>
		<string>[磕头]</string>
		<key>image</key>
		<string>emotion_ketou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>98</integer>
		<key>face_name</key>
		<string>[回头]</string>
		<key>image</key>
		<string>emotion_huitou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>99</integer>
		<key>face_name</key>
		<string>[跳绳]</string>
		<key>image</key>
		<string>emotion_tiaosheng</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>100</integer>
		<key>face_name</key>
		<string>[挥手]</string>
		<key>image</key>
		<string>emotion_huishou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>101</integer>
		<key>face_name</key>
		<string>[激动]</string>
		<key>image</key>
		<string>emotion_jidong</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>102</integer>
		<key>face_name</key>
		<string>[街舞]</string>
		<key>image</key>
		<string>emotion_jiewu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>103</integer>
		<key>face_name</key>
		<string>[献吻]</string>
		<key>image</key>
		<string>emotion_xianwen</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>104</integer>
		<key>face_name</key>
		<string>[左太极]</string>
		<key>image</key>
		<string>emotion_zuotaiji</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>105</integer>
		<key>face_name</key>
		<string>[右太极]</string>
		<key>image</key>
		<string>emotion_youtaiji</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>106</integer>
		<key>face_name</key>
		<string>[双喜]</string>
		<key>image</key>
		<string>emotion_shuangxi</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>107</integer>
		<key>face_name</key>
		<string>[鞭炮]</string>
		<key>image</key>
		<string>emotion_bianpao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>108</integer>
		<key>face_name</key>
		<string>[灯笼]</string>
		<key>image</key>
		<string>emotion_denglong</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>109</integer>
		<key>face_name</key>
		<string>[发财]</string>
		<key>image</key>
		<string>emotion_facai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>110</integer>
		<key>face_name</key>
		<string>[K歌]</string>
		<key>image</key>
		<string>emotion_kge</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>111</integer>
		<key>face_name</key>
		<string>[购物]</string>
		<key>image</key>
		<string>emotion_gouwu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>112</integer>
		<key>face_name</key>
		<string>[邮件]</string>
		<key>image</key>
		<string>emotion_youjian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>113</integer>
		<key>face_name</key>
		<string>[帅]</string>
		<key>image</key>
		<string>emotion_dashuai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>114</integer>
		<key>face_name</key>
		<string>[喝彩]</string>
		<key>image</key>
		<string>emotion_hecai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>115</integer>
		<key>face_name</key>
		<string>[祈祷]</string>
		<key>image</key>
		<string>emotion_qidao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>116</integer>
		<key>face_name</key>
		<string>[爆筋]</string>
		<key>image</key>
		<string>emotion_baojing</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>117</integer>
		<key>face_name</key>
		<string>[棒棒糖]</string>
		<key>image</key>
		<string>emotion_bangbangtang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>118</integer>
		<key>face_name</key>
		<string>[喝奶]</string>
		<key>image</key>
		<string>emotion_henai</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>119</integer>
		<key>face_name</key>
		<string>[下面]</string>
		<key>image</key>
		<string>emotion_xiamian</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>120</integer>
		<key>face_name</key>
		<string>[香蕉]</string>
		<key>image</key>
		<string>emotion_xiangjiao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>121</integer>
		<key>face_name</key>
		<string>[飞机]</string>
		<key>image</key>
		<string>emotion_feiji</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>122</integer>
		<key>face_name</key>
		<string>[开车]</string>
		<key>image</key>
		<string>emotion_kaiche</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>123</integer>
		<key>face_name</key>
		<string>[左车头]</string>
		<key>image</key>
		<string>emotion_zuochetou</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>124</integer>
		<key>face_name</key>
		<string>[车厢]</string>
		<key>image</key>
		<string>emotion_chexiang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>125</integer>
		<key>face_name</key>
		<string>[右车头]</string>
		<key>image</key>
		<string>emotion_youchexiang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>126</integer>
		<key>face_name</key>
		<string>[多云]</string>
		<key>image</key>
		<string>emotion_duoyun</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>127</integer>
		<key>face_name</key>
		<string>[下雨]</string>
		<key>image</key>
		<string>emotion_xiayu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>128</integer>
		<key>face_name</key>
		<string>[钞票]</string>
		<key>image</key>
		<string>emotion_chaopiao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>129</integer>
		<key>face_name</key>
		<string>[熊猫]</string>
		<key>image</key>
		<string>emotion_xiongmao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>130</integer>
		<key>face_name</key>
		<string>[灯泡]</string>
		<key>image</key>
		<string>emotion_dengpao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>131</integer>
		<key>face_name</key>
		<string>[风车]</string>
		<key>image</key>
		<string>emotion_fengche</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>132</integer>
		<key>face_name</key>
		<string>[闹钟]</string>
		<key>image</key>
		<string>emotion_naozhong</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>133</integer>
		<key>face_name</key>
		<string>[打伞]</string>
		<key>image</key>
		<string>emotion_dashan</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>134</integer>
		<key>face_name</key>
		<string>[彩球]</string>
		<key>image</key>
		<string>emotion_caiqiu</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>135</integer>
		<key>face_name</key>
		<string>[钻戒]</string>
		<key>image</key>
		<string>emotion_zhuanjie</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>136</integer>
		<key>face_name</key>
		<string>[沙发]</string>
		<key>image</key>
		<string>emotion_shafa</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>137</integer>
		<key>face_name</key>
		<string>[纸巾]</string>
		<key>image</key>
		<string>emotion_zhijing</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>138</integer>
		<key>face_name</key>
		<string>[药]</string>
		<key>image</key>
		<string>emotion_yao</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>139</integer>
		<key>face_name</key>
		<string>[手枪]</string>
		<key>image</key>
		<string>emotion_shouqiang</string>
	</dict>
	<dict>
		<key>face_id</key>
		<integer>140</integer>
		<key>face_name</key>
		<string>[青蛙]</string>
		<key>image</key>
		<string>emotion_qingwa</string>
	</dict>
</array>
</plist>
